body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

img {
    width: 150px; /* Set the width of your logo */
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 36px;
}
